<div class="footer  mt-2">
    <div class="div">
    <a href="https://www.facebook.com/profile.php?id=100069968065636"><i class="fa-brands fa-facebook"></i></a>
    <a href="https://www.instagram.com/sahilsheikh10452023/"><i class="fa-brands fa-instagram"></i></a>
    <a href="https://x.com/Sahilsh85866982"><i class="fa-brands fa-x-twitter"></i></a>
    </div>
    <div class="container">
    <small>&copy; 2025 Baitulmaal Network</small>
    |
   <a href="/admin/login" title="Admin Panel" style="opacity: 0.2; font-size: 14px; margin-left: 5px;">
  <i class="fas fa-user-shield"></i>
</a>
  </div>
    <div class="info mt-2">
        <a href="/feedback">
            Feedback
        </a>
        <a href="#">Admin</a>
        <a href="/contact"> Contact</a>
    </div>
</div>
