<% layout('/layouts/boilerplate.ejs') -%>

<form method="POST" action="/home/signup">
  <div class="main offset-4 mt-3">
    <h3>Sign Up</h3>
    <div class="mb-3 col-6">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" name="User[email]" required>
    </div>

    <div class="mb-3 col-6">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" name="User[username]" required>
    </div>

    <div class="mb-3 col-6">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="User[password]" required>
    </div>
 <div class="mb-3 col-6">
      <label for="Phone" class="form-label">Phone</label>
      <input  class="form-control" id="phone" name="User[phone]" required>
    </div>
  
 <div class="mb-3 col-6">
  <label class="form-label">Full Address</label>
          <textarea class="form-control" name="User[address]" placeholder="Street, City, State, PIN" rows="3"></textarea>
      </textarea>
    </div>
  
   
    <button type="submit" class="btn btn-dark">Submit</button>
    <div class="mt-1">
      <p>Already have an account? <a href="/home/login">Login</a></p>
     
    </div>
  </div>
</form>


